<div class="header">
  <ul class="nav nav-pills pull-right">
    <li class="active"><a href="#">Home</a></li>
    <li><a href="#">About</a></li>
    <li><a href="#">Contact</a></li>
  </ul>
  <h3 class="text-muted">Second Hunter</h3>
</div>
<div class="jumbotron">
  <!-- iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d20973.13804897089!2d24.71412492590332!3d48.92220775066936!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4730c16c34b0381d%3A0xd6d32394e59e41c2!2z0IbQstCw0L3Qvi3QpNGA0LDQvdC60ZbQstGB0YzQug!5e0!3m2!1suk!2sua!4v1394231458713" width="1000" height="500" frameborder="0" style="border:0"></iframe-->
  <div id="map-canvas"></div>
</div>
<div class="footer">
  <p>&copy; Company 2014</p>
</div>
<script type="text/javascript"
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDQWuApUanpte7w4Enl4WDKrIQ0m5cYf7E&sensor=false">
</script>
<script type="text/javascript">
  function initialize() {
    var mapOptions = {
      center: new google.maps.LatLng(48.887535, 24.707565),
      zoom: 10
    };
    var myLatlng = new google.maps.LatLng(48.85, 24.6)
    var map = new google.maps.Map(document.getElementById("map-canvas"),
            mapOptions);
    // To add the marker to the map, use the 'map' property
    var marker = new google.maps.Marker({
      position: myLatlng,
      map: map,
      title: "Hello World!"
    });
    var contentString = "<ul><li>день оновлення</li><li>Ціна на 1 кг в конкретний день</li><li>Адреса</li><li>Номер телефону<li></ul>"
    var infowindow = new google.maps.InfoWindow({
      content: contentString
    });

    // To add the marker to the map, call setMap();
    marker.setMap(map);
    google.maps.event.addListener(marker, 'click', function() {
      infowindow.open(map, marker);
    });
  }

  google.maps.event.addDomListener(window, 'load', initialize);
</script>
