<!DOCTYPE html>
<html lang="ua">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="моніторинг оновлень секонд-хендів">
    <meta name="author" content="Nychka Yaroslav">
    <title><%= @title %></title>
    <meta property="og:title" content="<%= @title %>" />
    <meta property="og:image" content="https://farm3.staticflickr.com/2833/13264775363_88409a9df7_m_d.jpg" /> 
    <meta property="og:description" content="моніторинг оновлень секонд-хендів" />
    <meta property="og:url" content="http://vk.com/second_hunter" />
    <link rel="stylesheet" type="text/css" href="stylesheets/jquery.notific8.css" />
    <link rel="stylesheet" type="text/css" href="stylesheets/style.css" />
    <!-- Bootstrap -->
    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <style>
      .flip {
        transform: rotateX(-180deg);
        transform-style: preserve-3d;
        transition: all 1s ease-in-out 0s;
        z-index: 800
      }
    </style>
  </head>
  <body>
    <div id="content" class="container">
      <%= yield %>
    </div>
     <div id="footer">
      <span>&copy;&nbsp;&nbsp;<a href="http://vk.com/second_hunter">Second Hunter</a>&nbsp;&nbsp;2014</span>
    </div>
    <script src="http://www.promisejs.org/implementations/promise/promise-3.2.0.js"></script>
    <script src="javascripts/lib/jquery-1.9.1.js"></script>
    <script src="javascripts/lib/underscore-min.js"></script>
    <script src="javascripts/lib/backbone-min.js"></script>
    <script src="bootstrap/js/bootstrap.min.js"></script>
    <script src="javascripts/lib/ejs.js"></script>
    <script src="javascripts/lib/jquery.notific8.js"></script>
    <script src="javascripts/lib/infobubble.js"></script>
    <script type="text/javascript"
            src="https://maps.googleapis.com/maps/api/js?v=3.exp&key=AIzaSyDQWuApUanpte7w4Enl4WDKrIQ0m5cYf7E&sensor=false&language=uk&libraries=places">
    </script>
    <script type="text/javascript" src="javascripts/template.js"></script>
    <script type="text/javascript" src="javascripts/google_map.js"></script>
    <script type="text/javascript" src="javascripts/second.js"></script>
    <script type="text/javascript" src="javascripts/refresh_day.js"></script>
    <script type="text/javascript" src="javascripts/app.js"></script>
    <% if(@user_can_edit_second) %>
    <script type="text/javascript" src="javascripts/edit_second.js"></script>
    <% end %>
  </body>
</html>
