<div class="legend">
<table>
    <% for(var i in icons){%>
        <tr><td><img src="<%= icons[i].image %>" /><td>
            <td><strong><%= icons[i].title %></strong></td>
        </tr>
    <%} %>
</table>
</div>
