<form id="add-second-form" method="GET" action="/add">
  <fieldset>
    <legend>Добавити Секонд-Хенд</legend>
    <div class="form-group ">
      <label for="second_title">Назва</label>
      <input type="text" id="second_title" name="title" placeholder="ЄвроСеконд" class="form-control" />
    </div>
    <div class="form-group ">
      <label for="city">Місто</label>
        <input id="city" name="city" disabled required class="form-control" title="Вкажіть місто на карті" />
    </div>
    <div class="form-group ">
      <label for="second_address">Вулиця</label>
      <input type="text" id="second_address" name="address" required placeholder="Введіть вулицю або вкажіть на карті" class="form-control" />
    </div>
    <table class="table">
      <thead>
        <tr>
          <th>#</th>
          <th>Пн</th>
          <th>Вт</th>
          <th>Ср</th>
          <th>Чт</th>
          <th>Пт</th>
          <th>Сб</th>
          <th>Нд</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>грн/кг</td>
          <td>
            <input type="text" data-role="day"  name="days[monday]" required placeholder="00" class="form-control" />
          </td>
          <td>
            <input type="text" data-role="day" name="days[tuesday]" required placeholder="00" class="form-control" />
          </td>
          <td>
            <input type="text" data-role="day" name="days[wednesday]" required placeholder="00" class="form-control" />
          </td>
          <td>
            <input type="text" data-role="day" name="days[thursday]" required placeholder="00" class="form-control" />
          </td>
          <td>
            <input type="text" data-role="day" name="days[friday]" required placeholder="00" class="form-control" />
          </td>
          <td>
            <input type="text" data-role="day" name="days[saturday]" required placeholder="00" class="form-control" />
          </td>
          <td>
            <input type="text" data-role="day" name="days[sunday]" required placeholder="00" class="form-control" />
          </td>
        </tr>
      </tbody>
    </table>
        <input type="hidden" name="lat" id="lat" />
        <input type="hidden" name="lng" id="lng" />
    <div class="form-actions">
      <button type="button" class="btn" id="add_second_cancel">Відміна</button>
      <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span>Добавити</button>
    </div>
  </fieldset>
</form>



